antlr4-python3-runtime==4.13.2
dill==0.4.1
networkx==3.6.1
kahypar
numpy==2.4.6
openqasm3==1.0.1
psutil==7.2.2
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-dateutil==2.9.0.post0
qiskit==2.5.0
qiskit-aer==0.17.2
qiskit-qasm3-import==0.6.0
matplotlib==3.11.0
pylatexenc
rustworkx==0.17.1
scipy==1.17.1
shiboken6==6.11.1
six==1.17.0
stevedore==5.8.0
typing_extensions==4.15.0
pytest==8.4.1
